.modal_content {
  label {
    text-align: left;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: unset;
    }
  }

  .space-between {
    justify-content: space-between;
  }

  .select {
    width: 75%;
  }
}

.footer {
  justify-content: space-between;
}
