.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    .el-select {
      width: 100px;
    }
  }

  .right {
    .add {
      width: fit-content;
    }
  }
}
