.modal_content {
  label {
    text-align: left;
    margin-bottom: 8px;
  }

  .el-radio-group {
    label {
      margin-bottom: unset;
    }
  }

  .space-between {
    justify-content: space-between;
  }

  .date-picker-custom {
    width: unset;
  }

  .last-row {
    align-items: flex-end;

    .is-owner {
      display: flex;
      justify-content: flex-start;
      .el-checkbox {
        margin-bottom: unset;
      }
    }
  }

  .el-radio {
    cursor: pointer;
  }
}

.footer {
  justify-content: space-between;

  .left {
    align-items: center;
  }
}
