.modal_content {
  label {
    text-align: left;
    margin-bottom: 8px;
  }

  .el-radio-group {
    label {
      margin-bottom: unset;
    }
  }

  .space-between {
    justify-content: space-between;
  }

  .date-picker-custom {
    width: unset;
  }
}

.footer {
  justify-content: space-between;

  .left {
    align-items: center;

    .el-checkbox {
      height: 32px;
    }
  }
}
