.container {
  height: 100vh;
  .left-container {
    flex: 1;
    align-items: center;

    .avatar-info {
      height: 40%;
      width: 80%;
      align-items: center;
      justify-content: space-between;

      .info-top {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .avatar {
          border-radius: 100%;
          border: solid 1px #afafaf;
        }

        .user-name {
          font-weight: 80%;
          font-size: 20px;
        }
      }

      .info-bottom {
        justify-content: flex-end;
        align-items: center;

        .change-password {
          justify-content: flex-end;
        }

        .btn {
          margin-left: unset;
        }
      }
    }
  }
  .right-container {
    flex: 4;
    .background-image {
      height: 40%;
    }

    .info-details {
      justify-content: space-between;
      margin: 0 20px 20px;
      height: 100%;

      .basic-info {
        .info_title {
          font-weight: 500;
          font-size: 28px;
          text-align: left;
        }

        .change-password-view {
          align-items: center;
          width: 100%;

          .control-detail {
            width: 50%;
          }
        }

        .control-row {
          display: flex;
          justify-content: space-evenly;

          .control-detail {
            align-items: center;

            label {
              min-width: 150px;
              font-size: 16px;
              text-align: left;
            }

            // .control-input {
            //   width: 400px;
            // }
          }
        }
      }

      .info_footer {
        width: 100%;
      }
    }
  }
}
