.table {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #afafaf;
  border-radius: 3.5px;
  height: calc(100vh - 106px - 18px);
  background-color: #ffffff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
  overflow-y: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  /*footer locate at bottom table*/
  height: 100%;
}

tbody tr {
  flex: 1;
}

thead {
  top: 0;
  font-family: MISA Bold;
  background-color: #f5f5f5;
  z-index: 1;
}

thead,
tfoot {
  position: -webkit-sticky;
  position: sticky;
}


thead tr {
  height: 38px;
  border-top: unset !important;
}

tbody {
  position: relative;
  overflow: auto;
}

tbody tr:hover,
tbody tr:focus {
  background-color: var(--row--hover);
}

tbody tr,
thead tr {
  border-bottom: 0.5px solid #afafaf;
  outline: none;
}

tbody tr,
tfoot tr {
  height: 40px;
}

tbody tr * {
  cursor: context-menu;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

tbody tr:hover .feature {
  display: flex;
}

tfoot {
  bottom: 0;
  background-color: #fff;
}

.footer__left {
  display: flex;
  align-items: center;
}

.feature {
  width: 100%;
  display: flex;
  min-width: 60px;
  justify-content: space-evenly;
}

.feature .icon {
  cursor: pointer;
}

.row--active {
  background-color: var(--row--hover);
}

.row--active .feature {
  display: flex;
}

.total-of-records__wrapper {
  position: relative;
  width: 150px;
  height: 40px;
  padding-left: 16px;
}

.paging {
  display: flex;
  align-items: center;
}

.page-numbers .number {
  background-color: #fff;
  border-radius: 3px;
  border: none;
  width: 20px;
  height: 20px;
  overflow: hidden;
}

.paging__icon--wrapper {
  position: relative;
  background-color: #ffffff;
  border-radius: 6px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}

.total-of-records {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

tfoot .value {
  font-family: MISA Bold;
  text-align: right;
}

.col--checkbox {
  min-width: 30px;
  text-align: center;
}

.col--stt {
  min-width: 40px;
  text-align: left;
}

tbody .col--stt {
  padding-left: 4px;
}

.col--asset-name {
  max-width: 160px;
  text-align: left;
  padding-right: 4px;
}

.col--asset-category {
  max-width: 120px;
  text-align: left;
  padding-right: 4px;
}

.col--department {
  max-width: 120px;
  text-align: left;
  padding-right: 4px;
}

.col--quantity {
  text-align: right;
}

.col--cost {
  text-align: right;
}

.col--depreciation {
  text-align: right;
}

.col--residual_value {
  text-align: right;
}

.col--feature {
  max-width: 80px;
}