@font-face {
  font-family: MISA Black;
  src: url(../font/Roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: MISA Light;
  src: url(../font/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: MISA Italic;
  src: url(../font/Roboto/Roboto-Italic.ttf);
}

@font-face {
  font-family: MISA Bold;
  src: url(../font/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: MISA Regular;
  src: url(../font/Roboto/Roboto-Regular.ttf);
}